* {
    margin: 10px;
    padding: 10px;
    font-family: 'Poppins', 'sans-serif';
    font-size: large;
}

body {
    background: #1D1E22;
    color: #eee;
}

.topnav {
    position: fixed;
    background-color: black;
    overflow: hidden;
    z-index: 1000;
    width: 100%;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background: #666666;
    color: aqua;
}

.header {
    margin-left: 200px;
    margin-top: 200px;
}

.gallery-wrap {
    display: flex;
    margin-top: 200px;
    align-items: center;
    position: relative;
    justify-content: center;
}

.image-container {
    position: relative;
    display: inline-block;
}

#main-image {
    max-width: 748px;
    max-height: 431px;
    width: auto;
    height: auto;
}

.arrow-left, .arrow-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    transition: tranform 0.3s ease, box-shadow 0.3s ease;
}

.arrow-left:hover, .arrow-right:hover {
    transform: translateY(-50%) scale(1.3);
}

.arrow-left {
    left: 0;
}

.arrow-right {
    right: 0;
}

.gallery-snowWar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.snowWar-text {
    margin-left: 10px;
}

.gallery-wrap2 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.gallery-LostVessel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.LostVessel-text {
    width: 40%;
}
.video-container {
    width: 60%;
}

.LostVessel-link {
    color: #444f9e;
    font-family: cursive;
    margin-left: -10px;
}

.address {
    margin-left: 200px;
    margin-top: 200px;
}

.LinkedIn-link {
    color: #eee;
    margin-left: -10px;
}